# Node
node_modules/
npm-debug.log*

# Build
dist/
build/

# TypeScript
*.tsbuildinfo

# Env
.env
.env-example.txt

# IDE / OS
.vscode/
.idea/

# GitHub
.github/

# Python
__pycache__/
requirements.txt
.venv/
*.py
*.pyc
books.txt
books_data.json