NODE_ENV=DEV
PORT=3000
MONGO_URI=mongodb://admin:changeme@mongodb:27017/novelya?authSource=admin
MONGO_USER=admin
MONGO_PASSWORD=changeme
MONGO_DB=novelya
JWT_SECRET=your_jwt_secret_here
RANOBEDB_API_URL=https://ranobedb.org/api/v0
NOVELYA_API_URL=http://localhost:3000
NOVELYA_EMAIL=email@example.com
NOVELYA_PASSWORD=louvre
